@model IEnumerable<EmployeeApplication.Models.InfoEmployee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumpur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumpur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.EmployeeCodeId">Edit</a> |
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.EmployeeCodeId">Details</a> |
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.EmployeeCodeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
